body {
	background-color: #8BABA6;
	text-align: center;	
}
h1 {
	color: white;
	text-align: center;
	font-family: 'Times New Roman', Times, serif;
	font-size: 3vw;
}
.container {
	text-align: center;
}
.color-code {
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 45px;
	margin-top: 35px;
	width: 80%;
}
.elements {
	margin-left: auto;
	margin-right: auto;
	max-width: 100;
	width: 90%;
}
.bottom-image {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 75%;
}
p {
	margin:0.5px;
}
p.mass {
	float: right;
	font-size: 0.75vw;
}
p.id {
	float: left;
	font-size: 0.75vw;
}
h2 {
	text-align: center;
	font-weight: bold;
	margin: 5px;
	font-size: 2vw;
}
td {
	min-width: 5%;
	font-size: 1vw;
}
td.color {
	padding: 10px;
}
td.diatomic {
	background-color: #bcb8e5;
}
td.noble-gas {
	background-color: #b8e5bc;
}
td.alkali-metal {
	background-color: #bcd68f;
}
td.alkaline-earth {
	background-color: #d6918f;
}
td.metalloid {
	background-color: #b8d7e5;
}
td.nonmetal {
	background-color: #C993D2;
}
td.aransition {
	background-color: #5A7C9E;
}
td.other-metal {
	background-color: #D66C6F;
}
td.anthanide{
	background-color: #ede796;
}
td.actinide {
	background-color: #82564B;
}
td.unknown {
	background-color: lightgrey;
}